{erl_opts, [debug_info]}.
{deps, []}.
{escript_name, mrename}.

{relx,
 [{release,
   {mrename, "0.1.0"},
   [mrename, sasl]},
  %% automatically picked up if the files
  %% exist but can be set manually, which
  %% is required if the names aren't exactly
  %% sys.config and vm.args
%   {sys_config, "./config/sys.config"},
%   {vm_args, "./config/vm.args"},
  %% the .src form of the configuration files do
  %% not require setting RELX_REPLACE_OS_VARS
  %% {sys_config_src, "./config/sys.config.src"},
  %% {vm_args_src, "./config/vm.args.src"}
  {overlay,
   [
    {copy, "_build/prod/bin/mrename", "bin/mr"}
    ]},
  {extended_start_script, true},
  {extended_start_script_hooks,[]},
  {extended_start_script_extensions, []}]}.

{profiles,
 [{prod,
   [{relx,
     [%% prod is the default mode when prod
      %% profile is used, so does not have
      %% to be explicitly included like this
      % {mode, prod},
      {include_src, false},
      {include_erts,"erts_12_2"},
      {system_libs,"erts_12_2/lib"}]
      }]}]}.